In [1]:
import pandas as pd
import numpy as np

from clearbox_ner.named_entity_recognizer import NamedEntityRecognizer, split_name
from clearbox_ner.faker_generator import FakerGenerator

/home/clearbox/.cache/pypoetry/virtualenvs/clearbox-ner-if7onA3Z-py3.11/lib/python3.11/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [17]:
df = pd.DataFrame({
    'email': ['John@email.com.', 'Snow@email.com', 'frank@email.com'],
    'city': ["New York", "Chicago", "Phoenix"],
    'state': ['Washington', 'Florida', 'Texas'],
    'university': ['University of London', 'University of Georgia', 'University of California'],
    'person': ['George Bush', None, 'Hillary Clinton'],
    'zipcode': ['10145', 'N11RG', '56178']
    })

In [18]:
df = split_name(df, 'person')

In [19]:
recognizer = NamedEntityRecognizer(df)

In [20]:
recognizer.assigned_entities_cols

[]

In [23]:
recognizer.assign_entities_with_presidio()
recognizer.assign_entities_manually()
recognizer.assign_organization_entity_with_model()

In [24]:
recognizer.dict_global_entities

{'email': {'entity': 'EMAIL_ADDRESS', 'confidence_score': 1.0},
 'city': {'entity': 'LOCATION', 'confidence_score': 1.0},
 'state': {'entity': 'LOCATION', 'confidence_score': 1.0},
 'university': {'entity': 'ORGANIZATION',
  'confidence_score': 0.3333333333333333},
 'zipcode': {'entity': 'ZIPCODE', 'confidence_score': 1.0},
 'first_name': {'entity': 'PERSON', 'confidence_score': 1.0},
 'last_name': {'entity': 'PERSON', 'confidence_score': 1.0}}

In [14]:
faker = FakerGenerator(recognizer.dataset, recognizer.dict_global_entities)

In [15]:
faker.get_faker_generation()

Column email synthesized.
Column first_name synthesized.
Column last_name synthesized.
Column city synthesized.
Column state synthesized.
Column zipcode synthesized.
Column university not synthesized.

In [16]:
faker.dataset

,email,city,state,university,zipcode,first_name,last_name,first_name_gender
1,jasonpruitt@yahoo.com,South Hannah,Utah,University of Georgia,65241,Nicholas,Flores,male
0,ztaylor@yahoo.com,South Paulashire,Kentucky,University of London,06030,Kevin,Taylor,unknown
2,gailconley@gmail.com,Martinezfurt,Mississippi,University of California,65629,Kelly,Melton,female