In [1]:
import pandas as pd
import numpy as np

from clearbox_ner.named_entity_recognizer import NamedEntityRecognizer, split_name, frequency
from clearbox_ner.faker_generator import FakerGenerator

/home/clearbox/.cache/pypoetry/virtualenvs/clearbox-ner-if7onA3Z-py3.11/lib/python3.11/site-packages/tqdm/auto.py:22: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
synth = pd.read_csv('dataset/PersonalInfo.csv')

In [ ]:
synth

In [ ]:
synth.info()

In [31]:
table_order = pd.read_csv('dataset/table_order.csv')

In [32]:
recognizer = NamedEntityRecognizer(table_order)

In [ ]:
recognizer.set_presidio_analyzer()

In [ ]:
analyzer = recognizer.presidio_analyzer

In [ ]:
recognizer.assign_entities_manually()

In [ ]:
recognizer.assign_presidio_entities_list()

In [ ]:
recognizer.assign_location_entity()

In [ ]:
recognizer.assign_entities_and_score()

In [ ]:
recognizer.set_model()

In [ ]:
recognizer.assign_model_entities_list()

In [ ]:
recognizer.assign_organization_entity()

In [ ]:
recognizer.dict_global_entities

In [2]:
table_order = pd.read_csv('dataset/table_order.csv')

In [2]:
recognizer = NamedEntityRecognizer(table_order)

NameError: name 'table_order' is not defined

In [4]:
recognizer.assign_entities_with_presidio()
recognizer.assign_entities_manually()
recognizer.assign_organization_entity_with_model()

In [5]:
recognizer.dict_global_entities

{'orderNumber': None,
 'productCode': None,
 'quantityOrdered': None,
 'priceEach': None,
 'orderLineNumber': None,
 'orderDate': {'entity': 'DATE_TIME', 'confidence_score': 1.0},
 'requiredDate': {'entity': 'DATE_TIME', 'confidence_score': 1.0},
 'shippedDate': {'entity': 'DATE_TIME', 'confidence_score': 1.0},
 'status': None,
 'comments': {'entity': 'ORGANIZATION',
  'confidence_score': 0.33035714285714285},
 'customerNumber': None,
 'customerName': {'entity': 'ORGANIZATION',
  'confidence_score': 0.17022086824067023},
 'contactLastName': {'entity': 'PERSON',
  'confidence_score': 0.9732824427480916},
 'contactFirstName': {'entity': 'PERSON',
  'confidence_score': 0.8991228070175439},
 'phone': {'entity': 'PHONE_NUMBER', 'confidence_score': 0.8333333333333334},
 'addressLine1': {'entity': 'ADDRESS', 'confidence_score': 0.8353658536585366},
 'addressLine2': {'entity': 'ORGANIZATION',
  'confidence_score': 0.2803738317757009},
 'city': {'entity': 'LOCATION', 'confidence_score': 0.9116279069767442},
 'state': {'entity': 'ORGANIZATION', 'confidence_score': 0.125},
 'postalCode': {'entity': 'ZIPCODE', 'confidence_score': 1.0},
 'country': {'entity': 'LOCATION', 'confidence_score': 1.0},
 'salesRepEmployeeNumber': None,
 'creditLimit': None,
 'productName': None,
 'productLine': None,
 'productScale': None,
 'productVendor': {'entity': 'ORGANIZATION',
  'confidence_score': 0.14249843063402384},
 'productDescription': None,
 'quantityInStock': None,
 'buyPrice': None,
 'MSRP': None}

In [2]:
df = pd.DataFrame({
    'email': ['John@email.com.', 'Snow@email.com', 'frank@email.com'],
    'city': ["New York", "Chicago", "Phoenix"],
    'state': ['Washington', 'Florida', 'Texas'],
    'university': ['University of London', 'University of Georgia', 'University of California'],
    'person': ['George Bush', None, 'Hillary Clinton'],
    'zipcode': ['10145', 'N11RG', '56178']
    })

In [3]:
recognizer = NamedEntityRecognizer(df)

In [4]:
recognizer.spacy_model

In [7]:
recognizer.dataset

,email,city,state,university,person,zipcode
1,Snow@email.com,Chicago,Florida,University of Georgia,?,N11RG
2,frank@email.com,Phoenix,Texas,University of California,Hillary Clinton,56178
0,John@email.com.,New York,Washington,University of London,George Bush,10145

In [8]:
recognizer.set_presidio_analyzer()
recognizer.assign_presidio_entities_list()

In [15]:
recognizer.dict_global_entities

{'email': ['EMAIL_ADDRESS', 'EMAIL_ADDRESS', 'EMAIL_ADDRESS'],
 'city': ['LOCATION', 'LOCATION', 'LOCATION'],
 'state': ['LOCATION', 'LOCATION', 'LOCATION'],
 'university': None,
 'person': ['PERSON', 'PERSON'],
 'zipcode': None}

In [7]:
recognizer.dataset

,email,city,state,university,zipcode,phone number,address,url,credit card number,ssn,country,first_name,last_name
0,John@email.com.,New York,Washigton,University of London,10145,5678-0987,Piazza Gae Aulenti 45,www.levante.com,5467-9765-0987-0000,865-50-6891,United Kingdom,George,Bush
1,Snow@email.com,Chicago,Rhode Island,University of Georgia,N11RG,1234-4321,171 Upper Street,www.amazon.it,1234-5678-9101,042-34-8377,Hungary,-,-
2,frank@email.com,Phoenix,Texas,University of California,56178,0987-1234,"29, Russel Square",www.pandas.org,0987-6543-2109,498-52-4970,Italy,Hillary,Clinton

In [5]:
faker = FakerGenerator(recognizer.dataset, recognizer.dict_global_entities)

In [6]:
faker.spacy_model

In [10]:
faker.get_columns_with_assigned_entity()

TypeError: list indices must be integers or slices, not str

In [52]:
faker.columns_with_assigned_entity

[['email', 'EMAIL_ADDRESS'],
 ['city', 'LOCATION'],
 ['state', 'LOCATION'],
 ['university', 'ORGANIZATION'],
 ['zipcode', 'ZIPCODE'],
 ['phone number', 'PHONE_NUMBER'],
 ['address', 'ADDRESS'],
 ['url', 'URL'],
 ['credit card number', 'CREDIT_CARD_NUMBER'],
 ['ssn', 'US_SSN'],
 ['country', 'LOCATION'],
 ['first_name', 'PERSON'],
 ['last_name', 'PERSON']]

In [46]:
faker.get_first_name()

In [47]:
faker.dataset

,email,city,state,university,zipcode,phone number,address,url,credit_card,ssn,country,first_name,last_name,first_name_gender
2,frank@email.com,Phoenix,Texas,University of California,56178,0987-1234,"29, Russel Square",www.pandas.org,0987-6543-2109,498-52-4970,Italy,Brett,Clinton,unknown
0,John@email.com.,New York,Washigton,University of London,10145,5678-0987,Piazza Gae Aulenti 45,www.levante.com,5467-9765-0987-0000,865-50-6891,United Kingdom,Mary,Bush,female
1,Snow@email.com,Chicago,Rhode Island,University of Georgia,N11RG,1234-4321,171 Upper Street,www.amazon.it,1234-5678-9101,042-34-8377,Hungary,John,-,male

In [48]:
len(faker.dataset['first_name_gender']) > 0

True